[submodule "libraries/mapenginelibrary"]
	path = libraries/mapenginelibrary
	url = git@bitbucket.org:citymaps/mapenginelibrary.git
[submodule "libraries/volley"]
	path = libraries/volley
	url = https://android.googlesource.com/platform/frameworks/volley
