<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.citymaps.mobile.android">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application
			android:name=".CitymapsApplication"
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name">

		<meta-data
				android:name="com.citymaps.mobile.android.CITYMAPS_SECRET"
				android:value="4e1546ddc0de4e9db622dac75da14ac0" />

		<meta-data
				android:name="com.citymaps.mobile.android.BASE_API_VERSION_NUMBER"
				android:value="2" />

		<meta-data
				android:name="com.citymaps.mobile.android.BASE_API_BUILD_STRING"
				android:value="2.0.0" />

		<meta-data
				android:name="com.citymaps.citymapsengine.API_KEY"
				android:value="@string/citymaps_engine_api_key" />

		<activity
				android:name=".view.LaunchActivity"
				android:launchMode="standard"
				android:noHistory="true"
				android:theme="@style/AppTheme.NoTitleOrActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
				android:name=".view.MainActivity"
				android:label="@string/app_name"
				android:launchMode="singleTop"
				android:theme="@style/AppTheme.TranslucentAppBar.Overlay">
		</activity>

		<activity
				android:name=".view.ProfileActivity"
				android:label="@string/title_activity_profile"
				android:theme="@style/AppTheme">
		</activity>

		<service
				android:name=".service.StartupService"
				android:enabled="true"
				android:exported="false">
			<intent-filter>
				<action android:name="com.citymaps.mobile.android.action.STARTUP_SERVICE" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>

		<service
				android:name=".map.MapViewService"
				android:enabled="true"
				android:exported="false">
			<intent-filter>
				<action android:name="com.citymaps.mobile.android.action.MAP_VIEW_SERVICE" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>

	</application>

</manifest>
